<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tela de cadastro Adm</title>

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/signin.css">

  </head>
  <body class="text-center">
    <form th:object="${cadastro}" th:action="@{/cadastro}" method="post" class="form-signin">
  <h1 class="h3 mb-3 font-weight-bold">Cadastro de Estabelecimento</h1>
  <label for="usuario" class="sr-only">Usu&aacute;rio</label>
  <input type="text" id="usuario" th:field="*{usuario}" class="form-control" placeholder="Usuário" required>
  <label th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}">User Error</label>
  <label for="senha" class="sr-only">Senha</label>
  <input type="password" id="senha" name="senha" th:field="*{senha}" class="form-control" placeholder="Senha" onkeyup='check_pass();' required>
  <label th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Pass Error</label>
  <label for="confsenha" class="sr-only">Confirmar Senha</label>
  <input type="password" id="confsenha" class="form-control" placeholder="Confirmar Senha" onkeyup='check_pass();' required>
  <label for="categoria" class="sr-only">Categoria</label>
  <select class="form-control" th:field="*{categoria}">
  	<optgroup label="Categorias">
	  	<option th:value="1" th:text="Bar"></option>
	  	<option th:value="2" th:text="Barbearia"></option>
	  	<option th:value="3" th:text="Cabeleireiro"></option>
	  	<option th:value="4" th:text="Farmácia"></option>
	  	<option th:value="5" th:text="Lanchonete"></option>
	  	<option th:value="6" th:text="Lava-Rápido"></option>
	  	<option th:value="7" th:text="Livraria"></option>
	  	<option th:value="8" th:text="Manicure"></option>
	  	<option th:value="9" th:text="Marcenaria"></option>
	  	<option th:value="10" th:text="Pizzaria"></option>
	  	<option th:value="11" th:text="Restarurante"></option>
	 </optgroup>
  </select>
  <label th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}">Cat Error</label>
  <label for="tipoEstab" class="sr-only">TipoEstab</label>
  <select class="form-control mt-2" th:field="*{tipoEstab}">
  	<optgroup label="Espaços no cartão">
	  	<option th:value="1" th:text="10"></option>
	  	<option th:value="2" th:text="15"></option>
	  	<option th:value="3" th:text="20"></option>
	</optgroup>
  </select>
  <select class="form-control mt-2" th:field="*{validade}">
  	<optgroup label="Validade do cartão (em meses)">
	  	<option th:value="1" th:text="1"></option>
	  	<option th:value="2" th:text="2"></option>
	  	<option th:value="3" th:text="3"></option>
	</optgroup>
  </select>
  <label th:if="${#fields.hasErrors('tipoEstab')}" th:errors="*{tipoEstab}">Tip Error</label>
  <label for="telefone" class="sr-only">Telefone</label>
  <input type="text" id="telefone" th:field="*{telefone}" class="form-control mt-2" placeholder="Telefone" required>
  <label th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Tel Error</label>
  <label for="endereco" class="sr-only">Endereco</label>
  <input type="text" id="endereco" th:field="*{endereco}" class="form-control" placeholder="Endereço" required>
  <label th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}">Adress Error</label>
  <label for="bairro" class="sr-only">Bairro</label>
  <input type="text" id="bairro" th:field="*{bairro}" class="form-control" placeholder="Bairro" required>
  <label th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}">Zone Error</label>
  <label for="cidade" class="sr-only">Cidade</label>
  <input type="text" id="cidade" th:field="*{cidade}" class="form-control" placeholder="Cidade" required>
  <label th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">City Error</label>
  <label for="uf" class="sr-only">UF</label>
  <select class="form-control" th:field="*{uf}">
  	<optgroup label="UF">
	  	<option th:value="'AC'" th:text="AC"></option>
	    <option th:value="'AL'" th:text="AL"></option>
	    <option th:value="'AP'" th:text="AP"></option>
	    <option th:value="'AM'" th:text="AM"></option>
	    <option th:value="'BA'" th:text="BA"></option>
	    <option th:value="'CE'" th:text="CE"></option>
	    <option th:value="'DF'" th:text="DF"></option>
	    <option th:value="'ES'" th:text="ES"></option>
	    <option th:value="'GO'" th:text="GO"></option>
	    <option th:value="'MA'" th:text="MA"></option>
	    <option th:value="'MT'" th:text="MT"></option>
	    <option th:value="'MS'" th:text="MS"></option>
	    <option th:value="'MG'" th:text="MG"></option>
	    <option th:value="'PA'" th:text="PA"></option>
	    <option th:value="'PB'" th:text="PB"></option>
	    <option th:value="'PR'" th:text="PR"></option>
	    <option th:value="'PE'" th:text="PE"></option>
	    <option th:value="'PI'" th:text="PI"></option>
	    <option th:value="'RR'" th:text="RR"></option>
	    <option th:value="'RO'" th:text="RO"></option>
	    <option th:value="'RJ'" th:text="RJ"></option>
	    <option th:value="'RN'" th:text="RN"></option>
	    <option th:value="'RS'" th:text="RS"></option>
	    <option th:value="'SC'" th:text="SC"></option>
	    <option th:value="'SP'" th:text="SP"></option>
	    <option th:value="'SE'" th:text="SE"></option>
	    <option th:value="'TO'" th:text="TO"></option>
	  </optgroup>
   </select>
  <label th:if="${#fields.hasErrors('uf')}" th:errors="*{uf}">UF Error</label>
  <input type="text" id="tipo" name="tipo" th:value="ROLE_ADMIN" style="display:none;">
  <button class="btn btn-lg btn-primary btn-block mt-3" id="submit" name="submit" type="submit" disabled>Cadastrar</button>
  <a class="btn btn-lg btn-danger btn-block" href="/">Cancelar</a>
</form>
<script type="text/javascript">
function check_pass() {
    if (document.getElementById('senha').value ==
            document.getElementById('confsenha').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
</script>
</body>
</html>
